<?xml version="1.0"?>
<robot name="industreal_cross_hole">
    <link name="industreal_cross_hole">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_cross_hole.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/industreal_cross_hole.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
